USE [QLNhanSu]
GO
/****** Object:  Table [dbo].[DuAnNhanVien]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAnNhanVien](
	[Id_Da] [int] NOT NULL,
	[ID_NhanVien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Da] ASC,
	[ID_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChuVu]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChuVu](
	[ID_ChucVu] [int] IDENTITY(1,1) NOT NULL,
	[Ma_ChucVu] [nvarchar](50) NOT NULL,
	[Ten_ChucVu] [nvarchar](50) NOT NULL,
	[Ghi_Chu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblChuVu] PRIMARY KEY CLUSTERED 
(
	[ID_ChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDuAn]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDuAn](
	[Id_Da] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Da] [nvarchar](50) NOT NULL,
	[Ten_Da] [nvarchar](50) NOT NULL,
	[SoNV_Da] [int] NOT NULL,
	[Mota_Da] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblDuAn_1] PRIMARY KEY CLUSTERED 
(
	[Id_Da] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[ID_NhanVien] [int] IDENTITY(1,1) NOT NULL,
	[Ma_ChucVu] [nvarchar](50) NOT NULL,
	[Ma_PhongBan] [nvarchar](50) NOT NULL,
	[Hinh] [image] NULL,
	[Ho_Ten] [nvarchar](50) NULL,
	[Ngay_Sinh] [nvarchar](50) NULL,
	[Gioi_Tinh] [nvarchar](50) NULL,
	[Que_Quan] [nvarchar](50) NULL,
	[So_CMT] [nvarchar](50) NULL,
	[Luong] [float] NULL,
	[So_DienThoai] [nvarchar](50) NULL,
	[Ngay_Tao] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNhanVien2] PRIMARY KEY CLUSTERED 
(
	[ID_NhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhongBan]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhongBan](
	[ID_PhongBan] [int] IDENTITY(1,1) NOT NULL,
	[Ma_PhongBan] [nvarchar](50) NOT NULL,
	[Ten_PhongBan] [nvarchar](50) NOT NULL,
	[Dia_Chi] [nvarchar](50) NOT NULL,
	[Ghi_chu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblPhongBan] PRIMARY KEY CLUSTERED 
(
	[ID_PhongBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[Id_Tkhoan] [int] IDENTITY(1,1) NOT NULL,
	[Ten_TKhoan] [nvarchar](50) NOT NULL,
	[Mat_Khau] [nvarchar](50) NOT NULL,
	[Loai_TKhoan] [int] NOT NULL,
 CONSTRAINT [PK_tblTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Id_Tkhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 11/16/2023 9:21:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[MaTV] [int] IDENTITY(1,1) NOT NULL,
	[TenDN] [nvarchar](200) NOT NULL,
	[MatKhau] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DuAnNhanVien] ([Id_Da], [ID_NhanVien]) VALUES (1005, 230)
INSERT [dbo].[DuAnNhanVien] ([Id_Da], [ID_NhanVien]) VALUES (1005, 933)
GO
SET IDENTITY_INSERT [dbo].[tblChuVu] ON 

INSERT [dbo].[tblChuVu] ([ID_ChucVu], [Ma_ChucVu], [Ten_ChucVu], [Ghi_Chu]) VALUES (1009, N'BV', N'Bảo vệ', N'')
INSERT [dbo].[tblChuVu] ([ID_ChucVu], [Ma_ChucVu], [Ten_ChucVu], [Ghi_Chu]) VALUES (2009, N'GD', N'Giám đốc', N'')
INSERT [dbo].[tblChuVu] ([ID_ChucVu], [Ma_ChucVu], [Ten_ChucVu], [Ghi_Chu]) VALUES (2010, N'QL', N'Quản lý', N'phải có họ hàng với giám đôc')
SET IDENTITY_INSERT [dbo].[tblChuVu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDuAn] ON 

INSERT [dbo].[tblDuAn] ([Id_Da], [Ma_Da], [Ten_Da], [SoNV_Da], [Mota_Da]) VALUES (1005, N'Da03', N'test project', 2, N'test code')
INSERT [dbo].[tblDuAn] ([Id_Da], [Ma_Da], [Ten_Da], [SoNV_Da], [Mota_Da]) VALUES (1006, N'Da04', N'Triển khai project', 2, N'')
SET IDENTITY_INSERT [dbo].[tblDuAn] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNhanVien] ON 

SET IDENTITY_INSERT [dbo].[tblNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPhongBan] ON 

INSERT [dbo].[tblPhongBan] ([ID_PhongBan], [Ma_PhongBan], [Ten_PhongBan], [Dia_Chi], [Ghi_chu]) VALUES (2008, N'T01', N'Marketing', N'Tầng 1', N'')
INSERT [dbo].[tblPhongBan] ([ID_PhongBan], [Ma_PhongBan], [Ten_PhongBan], [Dia_Chi], [Ghi_chu]) VALUES (2009, N'T02', N'Nhân sự', N'Tầng 2', N'')
INSERT [dbo].[tblPhongBan] ([ID_PhongBan], [Ma_PhongBan], [Ten_PhongBan], [Dia_Chi], [Ghi_chu]) VALUES (2010, N'T03', N'IT', N'Tầng 3', N'')
SET IDENTITY_INSERT [dbo].[tblPhongBan] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTaiKhoan] ON 

INSERT [dbo].[tblTaiKhoan] ([Id_Tkhoan], [Ten_TKhoan], [Mat_Khau], [Loai_TKhoan]) VALUES (16, N'admin', N'123', 0)
INSERT [dbo].[tblTaiKhoan] ([Id_Tkhoan], [Ten_TKhoan], [Mat_Khau], [Loai_TKhoan]) VALUES (1015, N'abc', N'123', 1)
INSERT [dbo].[tblTaiKhoan] ([Id_Tkhoan], [Ten_TKhoan], [Mat_Khau], [Loai_TKhoan]) VALUES (1016, N'admin1', N'1234', 0)
SET IDENTITY_INSERT [dbo].[tblTaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhVien] ON 

INSERT [dbo].[ThanhVien] ([MaTV], [TenDN], [MatKhau]) VALUES (1, N'admin', N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
SET IDENTITY_INSERT [dbo].[ThanhVien] OFF
GO
